* {
  margin: 0;
}

body {
  background-color: #ffeba9;
  font-family: "Poppins", sans-serif;
}

.home {
  text-decoration: none;
  font-size: 32;
  color: black;
  display: inline;
}

nav a:hover {
  border-bottom: black 1px solid;
  color: black;
  text-decoration: none;
}

nav {
  margin-top: 3rem;
}

nav ul {
  float: right;
  list-style-type: none;
  display: inline;
}

nav ul li {
  display: inline-block;
  padding: 1rem;
  padding-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

#top-section {
  margin-top: 8rem;
  height: 41rem;
}

.heading {
  font-size: 50px;
  font-weight: normal;
}

#top-section p {
  font-weight: lighter;
}

#top-section a {
  border: 1px solid black;
  width: 10rem;
  border-radius: 20px;
}

#top-section a:hover {
  background-color: black;
  color: white;
}

#top-section .image img {
  float: right;
}

#mid-section {
  background-color: #fff7de;
  height: 35rem;
  padding: 6rem;
}

#mid-section .card {
  border-radius: 20px;
  align-items: center;
  height: 22rem;
  box-shadow: 4px 4px 4px #e5e5e5;
}

#mid-section .brain {
  padding: 2rem;
  padding-bottom: 0;
  width: 17rem;
  height: 12rem;
}

#mid-section .eye {
  margin-top: 1rem;
  padding-bottom: 0;
  padding: 2rem;
  height: 11rem;
  width: 18rem;
}

#mid-section .lungs {
  padding: 2rem;
  width: 12rem;
  padding-bottom: 0;
  height: 12rem;
}

#mid-section .btn {
  color: black;
  background-color: #ffeba9;
  border: 1px solid black;
  border-radius: 20px;
}

#mid-section .btn:hover {
  background-color: black;
  color: white;
}

#mid-section .card .card-body {
  width: 100%;
  height: 100%;
  text-align: center;
}

footer {
  padding: 5rem;
  background-color: black;
  color: white;
}

footer ul {
  list-style-type: none;
}

@media (max-width: 500px) {
  body {
    text-align: center;
  }
  #top-section {
    height: 100%;
  }

  #top-section a {
    margin-bottom: 3rem;
  }

  #mid-section .card {
    width: auto;
  }
}
