<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/styles.css">
  <title>Medical</title>
</head>
  
<body>
  
  <nav class="container">

    <a href="#" class="home">Home</a>
    <ul>
      <li><a href="/getting_started">Get Started</a></li>
      
    </ul>
  </nav>


  <div id="top-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-6">
          <h1 class="heading">Medical problem?</h1>
          <h5>Here's the solution</h5>
          <p>This portal can help you with medical solutions and for FREE!!</p>
          <a href="#mid-section" class="btn">Check It Out</a>
        </div>
        <div class="col-12 col-sm-6 image"> 
          <img src="../static/images/doc.png" alt="" height="400rem" width="100%">
        </div>
      </div>
    </div>
  </div>


  <div id="mid-section">
    <div class="container">
      <div class="row">

        <div class="col-12 col-sm-3">
          <div class="card" style="width: 10rem;">
            <img src="../static/images/brain.png" class="card-img-top brain" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title mt-auto">Brain Tumor <br> Segmentation</h6>
              <a href="../models/braintumor/" class="btn btn-block mt-auto">Click Here</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-sm-3">
          <div class="card" style="width: 10rem;">
            <img src="../static/images/eye.png" class="card-img-top eye" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title mt-auto">Cataract <br> Classification</h6>
              <a href="../models/cataract/" class="btn btn-block mt-auto">Click Here</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-sm-3">
          <div class="card" style="width: 10rem;">
            <img src="../static/images/lungs.png" class="card-img-top lungs" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title mt-auto">Pneumonia <br> Classification</h6>
              <a href="../models/pneumonia/" class="btn btn-block mt-auto">Click Here</a>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-sm-3">
          <div class="card" style="width: 10rem;">
            <img src="../static/images/risk.jpg" class="card-img-top lungs" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title mt-auto"> 10 year<br>Risk Classification</h6>
              <a href="../models/riskmodel/" class="btn btn-block mt-auto">Click Here</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>


  </div>

  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
<footer>
  <table style="width: 43%;">
    <h1>Little About us!</h1>
    <tr>
      <th><h3>Manpreet Singh </h3></th>
      <td><a href="https://www.linkedin.com/in/manpreet-singh-901269157/"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></td>
      <td><a href="https://manpreet2000.github.io/manpreet.github.io/"><i class="fa fa-globe" style="font-size:24px"></i></a></td>
    </tr>
    <tr>
      <th><h6>Data Scientist</h6></th>
    </tr>
    <tr>
      <th><h3>Swati Chanchal </h3></th>
      <td><a href="https://www.linkedin.com/in/swati-chanchal/"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></td>
      <!-- <td><a href="https://manpreet2000.github.io/manpreet.github.io/"><i class="fa fa-globe" style="font-size:24px"></i></a></td> -->
    </tr>
    <tr>
      <th><h6>Data Scientist</h6></th>
    </tr>
    <tr>
      <th><h3>Lakshay Khurana </h3></th>
      <td><a href="https://www.linkedin.com/in/laksh-ayy/"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></td>
      <!-- <td><a href="https://manpreet2000.github.io/manpreet.github.io/"><i class="fa fa-globe" style="font-size:24px"></i></a></td> -->
    </tr>
    <tr>
      <th><h6>Front End Developer</h6></th>
    </tr>
    <tr>
      <th><h3>Gagandeep Singh </h3></th>
      <td><a href="https://www.linkedin.com/in/gagandeep-singh-9b0211110/"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></td>
      <!-- <td><a href="https://manpreet2000.github.io/manpreet.github.io/"><i class="fa fa-globe" style="font-size:24px"></i></a></td> -->
    </tr>
    <tr>
      <th><h6>UI Designer</h6></th>
    </tr>
  </table>
</footer>
</html>