<!-- Original Starts -->
<!-- <html>
    <title>Medical</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body> -->
    <!-- Ghatiya UI starts -->
    <!-- <div class="alert alert-danger" role="alert">
        <h2 class="alert-heading">Medical problem ?</h2>
        <h4>Here's the solution</h4>
        <hr>
        <p class="mb-0">This portal can help you with medical solutions and for FREE !!</p>
      </div>
      <div class="alert alert-primary" role="alert">
        Brain tumor segmentation <a href="../models/braintumor/" class="alert-link">Give it a click</a>
      </div>
      <div class="alert alert-secondary" role="alert">
        Cataract classification <a href="../models/cataract/" class="alert-link">Give it a click</a>
      </div>
      <div class="alert alert-success" role="alert">
        Pneumonia classification <a href="../models/pneumonia/" class="alert-link">Give it a click</a>
      </div> -->
      <!-- Ghatiya UI Ends -->
      
<!-- </body>
</html> -->
<!-- Original Ends -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles.css">
  <title>Medical</title>
</head>
  
<body>
  
  <nav class="container">

    <a href="/" class="home">Home</a>
    <ul>
      <li><a href="/">Contact Us</a></li>
      <li><a href="/">About</a></li>
    </ul>
  </nav>


  <div id="top-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-6">
          <h1 class="heading">Medical problem?</h1>
          <h5>Here's the solution</h5>
          <p>This portal can help you with medical solutions and for FREE!!</p>
          <a href="#mid-section" class="btn">Check It Out</a>
        </div>
        <div class="col-12 col-sm-6 image"> 
          <img src="./images/doc.png" alt="" height="400rem" width="100%">
        </div>
      </div>
    </div>
  </div>


  <div id="mid-section">
    <div class="container">
      <div class="row">

        <div class="col-12 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="./images/brain.png" class="card-img-top brain" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title mt-auto">Brain Tumor <br> Segmentation</h6>
              <a href="../models/braintumor/" class="btn btn-block mt-auto">Click Here</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="./images/eye.png" class="card-img-top eye" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title mt-auto">Cataract <br> Classification</h6>
              <a href="../models/cataract/" class="btn btn-block mt-auto">Click Here</a>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="./images/lungs.png" class="card-img-top lungs" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title mt-auto">Pneumonia <br> Classification</h6>
              <a href="../models/pneumonia/" class="btn btn-block mt-auto">Click Here</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>


  </div>

  <!-- Ghatiya UI starts -->
  <!-- <div class="alert alert-danger" role="alert">
      <h2 class="alert-heading">Medical problem ?</h2>
      <h4>Here's the solution</h4>
      <hr>
      <p class="mb-0">This portal can help you with medical solutions and for FREE !!</p>
    </div>
    <div class="alert alert-primary" role="alert">
      Brain tumor segmentation <a href="../models/braintumor/" class="alert-link">Give it a click</a>
    </div>
    <div class="alert alert-secondary" role="alert">
      Cataract classification <a href="../models/cataract/" class="alert-link">Give it a click</a>
    </div>
    <div class="alert alert-success" role="alert">
      Pneumonia classification <a href="../models/pneumonia/" class="alert-link">Give it a click</a>
  </div> -->
  <!-- Ghatiya UI Ends -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
<footer>
  <ul>
    <li>
      Name...
    </li>
  </ul>
</footer>
</html>